.search-bare {
    display: flex;
    /* align-items: center; */
   /* margin-right: 300px; */
  }
  
  .search-labele {
    margin-right: 10px; /* Espace entre 'Recherche' et l'input */
    font-weight: bold;
  }
  
  .search-inpute {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
  }

  
  /* Mobile format: recherche en bas de l'input */
  @media (max-width: 768px) {
    .search-bare {
      flex-direction: column; /* Empile l'étiquette, l'input et le bouton */
      align-items: flex-start; /* Aligne à gauche */
      width: 100%; /* Prend toute la largeur */
    }
  
    .search-labele {
      margin-right: 0;
      margin-bottom: 8px; /* Ajoute un espace entre l'étiquette et l'input */
    }
  
    .search-inpute {
      width: 100%; /* L'input prend toute la largeur */
      margin-bottom: 10px; /* Espace entre l'input et le bouton */
    }
  

  }
  