/* AccueilComponent.css */

.accueil-container {
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
}

.users-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
}

.profiles-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.users-info {
  flex: 1;
  margin-left: 20px;
}

.users-info h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.users-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.stats-item {
  text-align: center;
}

.stats-item h4 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.stats-item p {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.markets-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.markets-card {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;
  text-align: center;
}

.markets-card:last-child {
  margin-right: 0;
}

.markets-card h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.markets-card p {
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #666;
}

.markets-card .boutons .btt{
  background-color: #0808cd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.orders-sectiont {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.orders-section h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.orders-sectiont p {
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #888;
}

.orders-sectiont .boutonr {
  background-color: #0808cd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsiveness for mobile devices */
@media (max-width: 768px) {
  .users-section {
    flex-direction: column;
    text-align: center;
  }

  .users-info {
    margin-left: 0;
    margin-top: 10px;
  }

  .users-stats {
    flex-direction: column;
  }

  .markets-section {
    flex-direction: column;
  }

  .markets-card {
    margin-bottom: 20px;
  }

  .orders-sectiont {
    padding: 15px;
  }
}
