/* Style par défaut pour la NavBar */
.navbars {
  background-color: #dedede; /* Couleur de fond de la NavBar */
  padding: 1rem;
  position: sticky; /* Garde la barre en haut */
  top: 0;
  z-index: 10; /* S'assure que la NavBar est au-dessus du contenu */
}

/* Liste des éléments de la NavBar */
.navbars-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  justify-content: space-around; /* Répartit les éléments sur toute la largeur */
}

/* Élément de la NavBar */
.navbars-item {
  color:blue; /* Couleur du texte */
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.navbars-item:hover {
  background-color: #f88b0e; /* Couleur au survol */
  border-radius: 4px; /* Coins arrondis */
}

.navbars-item svg {
  margin-right: 0.5rem; /* Espace entre l'icône et le texte */
}

/* Style pour l'icône hamburger */
.hamburgers {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

/* Media query pour les écrans plus petits */
@media (max-width: 768px) {
  .navbars-list {
    display: none; /* Cache la liste par défaut */
    flex-direction: column;
    background-color: #f3f3f8;
    position: absolute;
    top: 64px; /* Ajuster pour qu'il apparaisse juste en dessous de la NavBar */
    left: 0;
    width: 30%;
    padding: 1rem;
  }

  .navbars.open .navbar-list {
    display: flex; /* Affiche la liste lorsqu'elle est ouverte */
  }

  .hamburgers {
    display: block; /* Affiche l'icône hamburger */
  }

  .navbars-item {
    color: black;
    padding: 1rem;
    text-align: center;
  }
}
