.message-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 24px;
}

.drawer-container {
  width: 250px;
  position: fixed;
  top: 64px; /* La même hauteur que la TopBar */
}
