.sidebar {
  position: fixed; /* Rendre la sidebar fixe sur le côté gauche */
  top: 64px; /* Ajuster cette valeur en fonction de la hauteur de la barre de navigation ou du header */
  left: 0;
  width: 250px;
  background-color: #0808cd; 
  color: white;
  padding: 20px;
  height: calc(100vh - 64px); /* Ajuster la hauteur en fonction du header */
  overflow-y: auto; /* Permettre le défilement de la sidebar si elle devient trop longue */
  z-index: 1000; /* Assurer que la sidebar soit toujours au-dessus du contenu principal */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar ul li:hover {
  background-color: #0056b3;
  padding-left: 10px;
  transition: padding-left 0.3s ease-in-out;
}

.sidebar ul li .fa-icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar ul {
    display: flex;
    justify-content: space-around;
  }

  .sidebar ul li {
    margin-bottom: 0;
  }
}
