.scroll-containert {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
  scroll-behavior: smooth;
  gap: 15px; /* Ajout pour un espacement homogène */
}

.scroll-containert::-webkit-scrollbar {
  height: 8px;
}

.scroll-containert::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.scroll-contentt {
  display: flex;
  gap: 15px; /* Espacement entre les produits */
}

.product-cardt {
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-cardt:hover {
  transform: scale(1.05); /* Zoom au survol */
}

.product-cardt img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ddd;
}

.card-contentt {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buy-buttont {
  margin-top: auto; /* Aligne le bouton au bas de la carte */
  background-color: #ededf3;
  color: #0808cd;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s;
}

.buy-buttont:hover {
  background-color: #d6d6f5;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .scroll-contentt {
    flex-direction: row; /* Conserve le défilement horizontal */
    gap: 10px;
  }

  .product-cardt {
    margin-left:20px;
    width: 250px; /* Ajuste la largeur des produits sur tablette */
  }

  .card-contentt {
    padding: 8px;
  }

  .buy-buttont {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .scroll-containert {
    padding: 10px 0;
  }

  .product-cardt img {
    height: 150px;
  }

  .buy-buttont {
    padding: 6px 12px;
  }
}
