.products-gridu {
  display: flex;
  flex-wrap: nowrap; /* Désactive le wrap pour le défilement horizontal */
  gap: 20px;
  overflow-x: auto; /* Active le défilement horizontal */
  padding-bottom: 10px; /* Ajout d'espace en bas pour l'expérience utilisateur */
  scrollbar-width: thin; /* Réduit la largeur de la scrollbar */
}

.final-priceu{
  color: #ff0a0a;
}
.price-percentage{
  color: #ff0a0a;
}
.price-original{
  text-decoration: line-through;
}
.product-infou {
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le contenu horizontalement */
  /* justify-content: space-between;  */
  height: 100%; /* Assure que l'infos prennent toute la hauteur disponible */
}
.category-nameu{
  background-color: #0808cd;
  color: #fff;
}

.add-to-cart-btnu {
  background-color: #ededf3;
  font-weight: bold;
  color: #0808cd;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center; /* S'assure que le bouton est centré */
}
.add-to-cart-btnu:hover {
  background-color: #d6d6f5;
}
.product-cardu {
  flex: 0 0 calc(100% / 2 - 10px); /* Deux produits par vue sur mobile */
  max-width: 300px; /* Largeur maximale */
  min-width: 200px; /* Largeur minimale pour un meilleur rendu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.product-cardu:hover {
  transform: translateY(-5px);
}

.product-image-containeru {
  position: relative;
  overflow: hidden;
  height: 200px;
  background-color: #f0f0f0;
}

.product-imageu {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Style de la scrollbar (facultatif) */
.products-gridu::-webkit-scrollbar {
  height: 8px;
}

.products-gridu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

/* Ajustements sur mobile */
@media (max-width: 768px) {
  .products-gridu {
    flex-wrap: nowrap; /* Désactive le wrap pour scroller horizontalement */
    overflow-x: auto; /* Active le défilement horizontal */
  }

  .product-cardu {
    flex: 0 0 calc(100% / 2 - 10px); /* Deux produits visibles par vue */
  }
}

@media (max-width: 480px) {
  .product-cardu {
    flex: 0 0 calc(100% - 20px); /* Un produit par vue */
  }
}
