.bannert-container {
    background-color: #0808cd; /* Bleu dodger */
    padding: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 25px; /* Ajuster la hauteur si nécessaire */
  }
  
  .bannert-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
  }
  
  .bouncet-slide-cycle {
    animation: bounceSlideCycle 54s ease-in-out infinite;
  }
  
  @keyframes bounceSlideCycle {
    0% {
      transform: translateY(-100%);
    }
    10% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
    30% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    55% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  