.navigationt-menu {
  position: relative;
}

.maint-categories {
  list-style-type: none;
  padding: 0;
}

.maint-categories > li {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.subt-categories {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  min-width: 200px;
  display: none;
}

.maint-categories > li:hover .sub-categories {
  display: block;
}

.subt-categories > li {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.subt-categories > li:hover {
  background-color: #f0f0f0;
}

.subcategoryt-items {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.itemt {
  flex: 1 0 30%;
  text-align: center;
  margin: 10px;
}

.itemt img {
  max-width: 100px;
  height: auto;
}

.itemt p {
  margin-top: 5px;
}
